<?xml version="1.0" encoding="iso-8859-1"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tehagotuweb.portalvallecas.app" >

    <!-- Permisos añadidos para accesos a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Inicio de ajustes para la aplicacion -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaramos la segunda actividad | Menú principal -->
        <!-- Hago que la activity de MainMenu aparezca tras el Splash, es decir, pasa a ser el singleTop, la raiz de todas las activitys -->
        <!-- Fuerzo a que la orientación sea vertical con android:screenOrientation="portrait" -->
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.MainMenuActivity"
            android:label="@string/title_activity_segunda_actividad"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declaramos la tercera actividad | Últimas Noticias -->
        <!-- Cambio esto: La activity de noticias de momento la salto para meter los fragments -->
        <!-- Si al final se quita esta activity totalmente habría que quitar los siguientes archivos
        java/
            NoticiasActivity
        res/layouts/
            activity_noticias
            activity_noticias_contabs
        -->
        <!-- Fuerzo a que la orientación sea vertical con android:screenOrientation="portrait" -->
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.NoticiasActivity"
            android:label="@string/title_activity_tercera_actividad"
            android:screenOrientation="portrait">
            <!--android:launchMode="singleTop">-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declaramos la cuarta actividad | Ver Articulo -->
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.ArticuloActivity"
            android:label="@string/title_activity_quinta_actividad" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declaramos la quinta actividad | Formulario -->
        <!-- En esta activity como dispone de ActionBar y es de segundo nivel, le meto los ajustes de PARENT -->
        <!-- Los ajustes de PARENT se los cambio a la activity de Noticias, que es donde estoy metiendo el Navigation Drawer-->
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.FormularioActivity"
            android:label="@string/title_activity_cuarta_actividad"
            android:parentActivityName="com.tehagotuweb.portalvallecas.app.NoticiasActivity" >
            <!-- meta-data de Parent activity para dar soporte a versiones 4.0 e inferiores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tehagotuweb.portalvallecas.app.NoticiasActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declaramos la sexta actividad | Acerca de -->
        <activity
            android:name="com.tehagotuweb.portalvallecas.app.AboutDialogActivity"
            android:label="@string/tituloabout">
        </activity>

    </application>

</manifest>
